*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    background-color: #222;
    color: #f1f1f1;
    font-size: 20px;
    display: flex;
    /* display: inline-flex; */
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
}
.item{
    width: 250px;
    padding: 250px;
    background-color: #C2C2C2;
    
}