*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    background-color: black;
    height: 100vh; 
    color: #f1f1f1;
    width: 100%;
    /* font-size: 20px; */
    /* padding: 35px; */
    display: flex;
    display: inline-flex;
    /*flex-direction: row;
    /* flex-direction: row-reverse; */
    /*flex-direction: column;
    /* flex-direction: column-reverse; */
    /*flex-wrap: nowrap;
    /*flex-wrap: wrap;
    /*flex-wrap: wrap-reverse;
    /*flex-flow: row wrap;
    /* justify-content: flex-start;
    /*justify-content: flex-end;
    /*justify-content: center; */
    /* justify-content: space-between;
    /*justify-content: space-around;
    /*justify-content: space-evenly; */
    /* align-items: stretch; */
    /* align-items:flex-start; */
    /* align-items:flex-end; */
    /* align-items: center; */
    /* align-items:baseline; */
    /* align-content: start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: space-evenly; */

    

}
.item{
    margin-left: 2px;
    width: 200px;
    /* width: 250px;
    padding: 250px; */
    background-color: #C2C2C2;

}
.item.item:nth-child(2n){
    /* font-size: 56px; */
}
/* .orden1{
    order:3;  la ubicacion
}
.orden2{
    order:2;
}
.orden3{
    order:1;
} */
/* .orden1{
    flex-grow:0;

}
.orden2{
    flex-grow:1;  capacidad de crecer

}
.orden3{
    flex-grow:2;

} */
/* .orden1{

}
.orden2{

}
.orden3{
    flex-shrink:3;        capacidad de reducir
    
} */
 .orden1{

}
.orden2{

}
.orden3{
    align-content: center;    
}